[Desktop Entry]
Type=Application
Name=Micro Editor
Comment=Terminal Text Editor
# Perintah ini nyuruh Kitty buat buka dan langsung jalanin micro
Exec=kitty -e micro %F
Icon=text-editor
Terminal=false
Categories=Development;TextEditor;
MimeType=text/plain;
